body{
    background-color: #99ACB2;
    color: #192C32;
}

a:link,a:visited,a:hover,a:active{
    color: #FF6F00;
}

table{
    width: 1006px;
    margin: 0 auto;
    border: none;
    padding: 3px;

}

#harmadiksor{
    background-color: white;
}

#fejlec{
    border: 1px solid;
}

.dolt{
    font-style: italic;
    margin-bottom: 0px;
    text-align: center;

}

#szovegKozepre{
    text-align: center;
}

.kepKozepre{
    border: none;
    margin: 0 auto;
    display: block;
}

h1{
    margin-top: 0px;
}

/*
ul{
    margin-bottom: 0px;
}
*/

#vedelmi{
    margin-bottom: 0px;
}

p{
    text-align: justify;
}