body{
    background-color: #99ACB2;
    color: #192C32;
}

a:link,a:visited,a:hover,a:active{
    color: #FF6F00;
}

table{
    width: 1006px;
    margin: 0 auto;
    border: none;
    padding: 3px;

}

#harmasikSor{
    background-color: white;
}

#fejlec{
    border: 1px solid;
}