.feher{
    background-color: #ffffff;
    border: 1px solid black;
    border-collapse: collapse;
}

.szurke{
    background-color:#808080;
    border: 1px solid black;
    border-collapse: collapse;
}

body{
    background-color: #ced5e0;
}

a:link,a:visited,a:hover,a:active{
    color: #FF6F00;
}

#table2{
    width: 800px;
    margin: 20px auto;
    background-color: white;
    text-align: center;
    padding: 2px;
    border-spacing: 0px;
}

h1{
    text-align: center;
}

#kepKozepre{
    border: none;
    margin: 0 auto;
    display: block;
    padding-left: 15px;
    padding-bottom: 20px;
}

#table1{
    margin: 0 auto;
    background-color: #ced5e0;
}

hr{
    margin: 0 auto;
    width: 400px;
    size: 5px;
    color: black;
}

#szovegKozepre{
    text-align: center;
}

#valasz{
    float: right;
}
